{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}

{% block right_col %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form method="post">
                    {% csrf_token %}
                    شماره {{ title }}
                    <input type="text" name="prof_number">
                    <button class="btn btn-sm btn-success">?</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}