{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load jformat %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-12">
                <h3>{{ msg }}</h3>
{#        <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">#}
        <h1 class="page-header">
                bugs</h1>
        <hr>

    <table class="table table-hover text-center">
        <tr>
            <th scope="col" class="text-center">ردیف</th>
            <th scope="col" class="text-center">عنوان</th>
            <th scope="col" class="text-center">owner</th>
            <th scope="col" class="text-center"></th>
        </tr>
        <tbody>
{#        {% for total_exp, fund in amounts.items %}#}
        {% for bug in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bug.title }}</td>
                <td>{{ bug.owner.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
        </div>
    </div>
{% endblock %}