{% extends 'requests/admin_jemco/admin_base.html' %}
{% load humanize %}
{% load jformat %}
{% block right_col %}
    <div class="container">
        <div class="col-md-6 ">
            <h3>{{ customer.name }}</h3>
            <p>{{ customer.date2 }}</p>
        </div>
        <div class="col-md-6 ">
            <h2>Requests belongs to <span class="emphsize">{{ customer.name }}</span></h2>
            <table class="table table-hover text-center text-center">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">Request No</th>
                    <th class="text-center">Total KW</th>
                </tr>
                </thead>

                <tbody class="">
                {% for tkw, customer_req in some.items %}
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <td>{{ customer_req.pk }}</td>
                        <td>
                            <a href="{% url 'request_details' request_pk=customer_req.pk %}">{{ customer_req.number }}</a>
                        </td>
                        <td>{{ tkw|floatformat:0|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr style="border-top: 3px solid black;">
                    <td colspan="3">SUM</td>
                    <td><b>{{ customer_kw_total|floatformat:0|intcomma }}</b></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

{% endblock %}