# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3
*.sqlite3-journal
settings.py
get-pip.py
app/media
app/media1
app/newmedia.zip
app/static
design.txt
githublink.txt
app/node_modules
package-lock.json
app/venv
/z_mine
app/fixtures
/.idea
/.vs
*.orig


frontend/

temp_files/

.vscode/
env_vars

# todo: ???
Dockerfile
proxy
scripts
.dockerignore
docker-compose-deploy.yml
docker-compose.yml

app/.fandoghignore

workspace.tar.gz

.fandogh/

.fandogh/
