{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="row">
            <a class="btn btn-sm btn-success" href="{% url 'test_view2' %}">click here</a>
            <table class="tableFull withBorder">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>pk</th>
                        <th>کد</th>
                        <th>شماره درخواست</th>
                        <th>کیلووات</th>
                        <th>سرعت</th>
                        <th></th>
                        <th>شرح</th>
                        <th>فریم سایز</th>
                        <th>ولتاژ</th>
                        <th>IM</th>
                        <th>IP</th>
                        <th>IC</th>
                        <th>بازدهی</th>
                        <th>ضریب توان</th>
                        <th>current</th>
                        <th>torque</th>
                        <th>weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for motor in motors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ motor.pk }}</td>
                        <td>{{ motor.code }}</td>
                        <td><a href="{% url 'request_details' request_pk=motor.req_id.pk %}">{{ motor.req_id.number }}</a></td>
                        <td>{{ motor.description }}</td>
                        <td>{{ motor.kw }}</td>
                        <td>{{ motor.speed }}{{ motor.rpm }}</td>
                        <td>{{ motor.summary }}</td>
                        <td>{{ motor.req_id.owner.last_name }}</td>
                        <td></td>
                        <td>{{ motor.im }}</td>
                        <td>{{ motor.ip }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'reqspec_edit_form' req_pk=motor.req_id.pk yreqSpec_pk=motor.pk %}">Edit</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'reqSpec_delete' req_pk=motor.req_id.pk yreqSpec_pk=motor.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

