{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load sales_ex_dashboard %}
{% block right_col %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if user.pk == 4 %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>عنوان</td>
                                <td>نماینده</td>
                                <td>غیر نماینده</td>
                                <td>کل</td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>تعداد درخواست</td>
                                <td>{{ count.agent.orders.value | floatformat:0 | intcomma }}
                                    ({{ count.agent.orders.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ count.customer.orders.value | floatformat:0 | intcomma }}
                                    ({{ count.customer.orders.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ count.total.orders | floatformat:0 | intcomma }}</td>
                            </tr>
                            <tr>
                                <td>تعداد ردیف</td>
                                <td>{{ count.agent.row.value | floatformat:0 | intcomma }}
                                    ({{ count.agent.row.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ count.customer.row.value | floatformat:0 | intcomma }}
                                    ({{ count.customer.row.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ count.total.row | floatformat:0 | intcomma }}</td>
                            </tr>
                            <tr>
                                <td>تعداد دستگاه</td>
                                <td>{{ qty.agent.value | floatformat:0 | intcomma }}
                                    ({{ qty.agent.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ qty.customer.value | floatformat:0 | intcomma }}
                                    ({{ qty.customer.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ qty.total | floatformat:0 | intcomma }}</td>
                            </tr>
                            <tr>
                                <td>کیلووات</td>
                                <td>{{ megaWatt.agent.value | floatformat:0 | intcomma }}
                                    ({{ megaWatt.agent.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ megaWatt.customer.value | floatformat:0 | intcomma }}
                                    ({{ megaWatt.customer.percent | floatformat:2 }}%)
                                </td>
                                <td>{{ megaWatt.total | floatformat:0 | intcomma }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="customerDetails" class="col-xs-6 col-sm-4">
            <h3>وضعیت درخواست ها </h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td></td>
                        <td>ظریف</td>
                        <td>محمدی</td>
                        <td>علوی</td>
                        <td>فروغی</td>
                        <td>جمع</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>باقیمانده</td>
                        <td>{% expert_remaining_reqs_not_entered 4 as reqs %}{{ reqs }}</td>
                        <td>{% expert_remaining_reqs_not_entered 2 as reqs %}{{ reqs }}</td>
                        <td>{% expert_remaining_reqs_not_entered 3 as reqs %}{{ reqs }}</td>
                        <td>{% expert_remaining_reqs_not_entered 5 as reqs %}{{ reqs }}</td>
                        <td>{% total_orders_not_remaining %}</td>
                    </tr>
                    <tr>
                        <td>وارد شده</td>
                        <td>{% all_expert_reqs 4 as reqs %}{{ reqs }}</td>
                        <td>{% all_expert_reqs 2 as reqs %}{{ reqs }}</td>
                        <td>{% all_expert_reqs 3 as reqs %}{{ reqs }}</td>
                        <td>{% all_expert_reqs 5 as reqs %}{{ reqs }}</td>
                        <td>{% total_orders_entered %}</td>
                    </tr>
                    <tr>
                        <td>درصد وارد شده</td>
                        <td>{% expert_reqs_percent 4 as reqs %}{{ reqs|floatformat:1 }}</td>
                        <td>{% expert_reqs_percent 2 as reqs %}{{ reqs|floatformat:1 }}</td>
                        <td>{% expert_reqs_percent 3 as reqs %}{{ reqs|floatformat:1 }}</td>
                        <td>{% expert_reqs_percent 5 as reqs %}{{ reqs|floatformat:1 }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-8">
            <div class="col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>درخواست های وارد نشده</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i
                                        class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="quick-list">
                                {% reqs_to_entered user as reqs %}
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <td>ردیف</td>
                                            <td>شماره اتوماسیون</td>
                                            <td>تاریخ</td>
                                            <td>تاریخ شمسی</td>
                                            <td>مشتری</td>
                                            <td>عنوان</td>
                                            <td>کارشناس</td>
                                            <td>شماره وارده</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in reqs %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ r.number_automation }}</td>
                                                <td>{{ r.date_txt }}</td>
                                                <td>{{ r.date_fa }}</td>
                                                <td>{{ r.customer }}</td>
                                                <td>{{ r.title }}</td>
                                                <td>{{ r.owner_text }}</td>
                                                <td>{{ r.number_entered }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>پیگیری</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i
                                        class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="quick-list">
                                {% unread_comments False user as comments %}
                                {% for comment in comments %}
                                    <div>
                                    <a href="{% url 'pref_details' ypref_pk=comment.content_object.pk %}">
                                        <strong>{{ comment.author }}: </strong>{{ comment.body }} -
                                        <span>{{ comment.content_object }}</span>
                                    </a>
                                        {% if not comment.is_read %}
                                            <span style="color: red; font-size: 20px;">*</span>{% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>پیش فاکتور</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i
                                        class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="quick-list">
                                {% unread_comments True user as comments %}
                                {% for comment in comments %}
                                    <div>
                                        <strong>{{ comment.author }}: </strong>
                                        <a href="{% url 'pref_details' ypref_pk=comment.content_object.pk %}">{{ comment.body }}</a>
                                        -
                                        <span>{{ comment.content_object }}</span>
                                        {% if not comment.is_read %}
                                            <span style="color: red; font-size: 20px;">*</span>{% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    <div class="row" style="margin: 50px 0 0;">
        {#        {% include 'requests/admin_jemco/page_elements/agent_shares.html' with agent_data=agent_data %}#}
    </div>
{% endblock %}