{% extends 'requests/admin_jemco/page_elements/base_html/minimal_base.html' %}
{% load humanize %}
{% load request_extras %}
{% block right_col %}
    <div>
        <h3 class="text-center col-xs-12">
            {{ title_msg }}
        </h3>
        {% if request.user.is_superuser and show %}
            <div id="customerDetails" class="col-xs-6 col-sm-4">
                <h3>وضعیت درخواست ها </h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <td></td>
                            <td>ظریف</td>
                            <td>محمدی</td>
                            <td>علوی</td>
                            <td>فروغی</td>
                            <td>جمع</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>باقیمانده</td>
                            <td>{{ expert.zarif|expert_remaining_reqs_not_entered }}</td>
                            <td>{{ expert.mohammadi|expert_remaining_reqs_not_entered }}</td>
                            <td>{{ expert.alavi|expert_remaining_reqs_not_entered }}</td>
                            <td>{{ expert.foroughi|expert_remaining_reqs_not_entered }}</td>
                            <td>{% total_orders_not_remaining %}</td>
                        </tr>
                        <tr>
                            <td>وارد شده</td>
                            <td>{{ expert.zarif|all_expert_reqs }}</td>
                            <td>{{ expert.mohammadi|all_expert_reqs }}</td>
                            <td>{{ expert.alavi|all_expert_reqs }}</td>
                            <td>{{ expert.foroughi|all_expert_reqs }}</td>
                            <td>{% total_orders_entered %}</td>
                        </tr>
                        <tr>
                            <td>درصد وارد شده</td>
                            <td>{{ expert.zarif|expert_reqs_percent|floatformat:1 }}</td>
                            <td>{{ expert.mohammadi|expert_reqs_percent|floatformat:1 }}</td>
                            <td>{{ expert.alavi|expert_reqs_percent|floatformat:1 }}</td>
                            <td>{{ expert.foroughi|expert_reqs_percent|floatformat:1 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        {% endif %}
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>ردیف</td>
                        <td>شماره اتوماسیون</td>
                        <td>تاریخ</td>
                        <td>تاریخ شمسی</td>
                        <td>مشتری</td>
                        <td>عنوان</td>
                        <td>کارشناس</td>
                        <td>شماره وارده</td>
                        {#                <td>واردشده</td>#}
                        {#                <td>درخواست</td>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in reqs %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.number_automation }}</td>
                            <td>{{ r.date_txt }}</td>
                            <td>{{ r.date_fa }}</td>
                            <td>{{ r.customer }}</td>
                            <td>{{ r.title }}</td>
                            <td>{{ r.owner_text }}</td>
                            <td>{{ r.number_entered }}</td>
                            {#                    <td>{{ r.is_entered }}</td>#}
                            {#                    <td>{{ r.is_request }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}