{% extends 'requests/base.html' %}
{% block mainContent %}
    <form method="post" action="{% url 'find_prefPage' %}" >
    {% csrf_token %}
        Prefactor number:<br>
        <input type="text" name="pref_no" id="pref_no">
        <input type="submit" value="submit">
    </form>
    <hr>
    {% for req in reqs.all %}
        <p style="margin-left: 25px">Req No. <a href="{% url 'reqDetails' req.pk %}">{{ req.number }}</a></p>

        {% for pref in req.prefactor_set.all %}
            <p style="margin-left: 75px;">Pref No.<a href="{% url 'prefactorsDetailPage' pref.pk %}">{{ pref.number }}</a></p>
            {% for ver in pref.prefactorverification_set.all %}
                <p style="margin-left: 125px">Ver No.<a href="{% url 'prefVerfDetailPage' ver.pk %}">{{ ver.number }}</a></p>
            {% endfor %}
        {% endfor %}

        <hr>
    {% endfor %}
{% endblock %}