{% extends 'requests/admin_jemco/admin_base.html' %}
{% block right_col %}
<div class="row">
    <div class="col-md-9">
        <div class="card mb-9 shadow-sm">
            <div class="card-body">

               {% if msg %}
                {{ msg }}
            {% endif %}
            <form method="POST" action="{% url 'create_spec_pref_findReq' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <br>Enter Req No Bellow<br>
                <input name="req_no" type="text"><br>
{#                <br>Enter Pref No Bellow<br>#}
{#                <input name="pref_no" type="text"><br>#}

                <input class="btn btn-primary" type="submit" value="Save" name="done">
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}








