{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load sales_ex_dashboard %}
{% block right_col %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <p class="text-center">{{ res }}</p>
                <h3 class="text-center">پیش فاکتور</h3>
                <h4 class="text-center red">
                    <a href="{% url 'pref_details' ypref_pk=prof.pk %}">{{ prof.number }}</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="{% url 'adjust_cost' ypref_pk=prof.pk %}" method="post">
                    {% csrf_token %}
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <td class="d-inline bg-blue-sky">ورق سیلیکون</td>
                            <td class="d-inline bg-blue-sky">مس</td>
                            <td class="d-inline bg-blue-sky">آلومینیوم</td>
                            <td class="d-inline bg-blue-sky">ورق فولادی</td>
                            <td class="d-inline bg-blue-sky">چدن</td>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td><input name="silicon" value="{{ material_cost.silicon | floatformat | intcomma }}" type="text"></td>
                            <td><input name="cu" value="{{ material_cost.copper | floatformat | intcomma }}" type="text"></td>
                            <td><input name="alu" value="{{ material_cost.alu | floatformat | intcomma }}" type="text"></td>
                            <td><input name="steel" value="{{ material_cost.steel | floatformat | intcomma }}" type="text"></td>
                            <td><input name="dicast" value="{{ material_cost.cast_ir | floatformat | intcomma }}" type="text"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-sm btn-success btn-round">ثبت</button>
                    <a class="btn btn-sm btn-warning btn-round" href="{% url 'set_one_time' ypref_pk=prof.pk %}">پیش فرض</a>

                    <a class="btn btn-xs btn-primary btn-round" href="{% url 'set_formula_1' ypref_pk=prof.pk %}">فرمول قدیم</a>
                    <a class="btn btn-xs btn-primary btn-round" href="{% url 'set_formula_2' ypref_pk=prof.pk %}">فرمول جدید</a>
                </form>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if messages %}
                    {% include 'general/errors.html' %}
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div>
                <div class="col-md-1 red"> اطلاعات ردیف ها</div>
                <div class="col-md-11">
                    <div class="table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <tr class="d-inline bg-primary">
                                <td scope="col" class="text-center">ردیف</td>
                                <td scope="col" class="text-center">کد کالا</td>
                                <td scope="col" class="text-center">تعداد</td>
                                <td scope="col" class="text-center">کیلووات</td>
                                <td scope="col" class="text-center">سرعت</td>
                                <td scope="col" class="text-center">ولتاژ</td>
                                <td scope="col" class="text-center">IM</td>
                                <td scope="col" class="text-center">IP</td>
                                <td scope="col" class="text-center">IC</td>
                                <td scope="col" class="text-center">تمام شده واحد</td>
                                <td scope="col" class="text-center">تمام شده کل</td>
                                <td scope="col" class="text-center">قیمت واحد</td>
                                <td scope="col" class="text-center">قیمت کل</td>
                                <td scope="col" class="text-center">سود واحد</td>
                                <td scope="col" class="text-center">سود کل</td>
                                <td scope="col" class="text-center">درصد سود</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spec in results %}
                                {% if spec.item_unit_price and spec.qty %}
                                    <tr>
                                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                        <td>{{ spec.code }}</td>
                                        <td>{{ spec.qty }}</td>
                                        <td>{{ spec.kw|floatformat }}</td>
                                        <td>{{ spec.rpm }}</td>
                                        <td>{{ spec.voltage }}</td>
                                        <td>{% if spec.im %}{{ spec.im }}{% endif %}</td>
                                        <td>{% if spec.ip %}{{ spec.ip }}{% endif %}</td>
                                        <td>{% if spec.ic %}{{ spec.ic }}{% endif %}</td>
                                        <td>{{ spec.item_unit_cost|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_cost|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_unit_price|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_price|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_unit_profit|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_profit|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_percent|floatformat }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="10"></td>
                                <td>{{ total.cost_total|floatformat|intcomma }}</td>
                                <td></td>
                                <td>{{ total.price_total|floatformat|intcomma }}</td>
                                <td></td>
                                <td>{{ total.profit_total|floatformat|intcomma }}</td>
                                <td>
                                    <p>{{ total.profit_total_percent|floatformat }}</p>
                                    <p data-toggle="tooltip" title="نحوه محاسبه قیمت تمام شده از تاریخ آبان 99 تغییر داشته است!" class="text-danger">
                                        {{ formula_txt }}</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <h3 class="text-center" style="margin-top: 50px">بدون قیمت تمام شده</h3>
                        <table class="table table-hover text-center">
                            <thead>
                            <tr class="d-inline bg-danger">
                                <td scope="col" class="text-center">ردیف</td>
                                <td scope="col" class="text-center">کد کالا</td>
                                <td scope="col" class="text-center">تعداد</td>
                                <td scope="col" class="text-center">کیلووات</td>
                                <td scope="col" class="text-center">سرعت</td>
                                <td scope="col" class="text-center">ولتاژ</td>
                                <td scope="col" class="text-center">IM</td>
                                <td scope="col" class="text-center">IP</td>
                                <td scope="col" class="text-center">IC</td>
                                <td scope="col" class="text-center">قیمت</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spec in no_cost %}
                                {% if spec.price and spec.qty %}
                                    <tr>
                                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                        <td>{{ spec.code }}</td>
                                        <td>{{ spec.qty }}</td>
                                        <td>{{ spec.kw|floatformat }}</td>
                                        <td>{{ spec.rpm }}</td>
                                        <td>{{ spec.voltage }}</td>
                                        <td>{% if spec.im %}{{ spec.im }}{% endif %}</td>
                                        <td>{% if spec.ip %}{{ spec.ip }}{% endif %}</td>
                                        <td>{% if spec.ic %}{{ spec.ic }}{% endif %}</td>
                                        <td>{{ spec.price|floatformat|intcomma }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}