{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load sales_ex_dashboard %}
{% block right_col %}
    <div class="container">
        <div class="row">
            {% include 'admin_theme/page_elements/details_header.html' with show_me='proforma' request=proforma.req_id prof=proforma %}
        </div>
        <div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h3 class="text-center">پیش فاکتور</h3>
                <h4 class="text-center red">{{ pref.number }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if messages %}
                    {% include 'general/errors.html' %}
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div>
                <div class="col-md-1 red"> اطلاعات ردیف ها</div>
                <div class="col-md-11">
                    <div class="table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <tr class="d-inline bg-primary">
                                <td scope="col" class="text-center">ردیف</td>
                                <td scope="col" class="text-center">کد کالا</td>
                                <td scope="col" class="text-center">تعداد</td>
                                <td scope="col" class="text-center">کیلووات</td>
                                <td scope="col" class="text-center">سرعت</td>
                                <td scope="col" class="text-center">ولتاژ</td>
                                <td scope="col" class="text-center">IM</td>
                                <td scope="col" class="text-center">IP</td>
                                <td scope="col" class="text-center">IC</td>
                                <td scope="col" class="text-center">تمام شده واحد</td>
                                <td scope="col" class="text-center">تمام شده کل</td>
                                <td scope="col" class="text-center">قیمت واحد</td>
                                <td scope="col" class="text-center">قیمت کل</td>
                                <td scope="col" class="text-center">سود واحد</td>
                                <td scope="col" class="text-center">سود کل</td>
                                <td scope="col" class="text-center">درصد سود</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spec in results %}
                                {% if spec.item_unit_price and spec.qty %}
                                    <tr>
                                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                        <td>{{ spec.code }}</td>
                                        <td>{{ spec.qty }}</td>
                                        <td>{{ spec.kw|floatformat }}</td>
                                        <td>{{ spec.rpm }}</td>
                                        <td>{{ spec.voltage }}</td>
                                        <td>{% if spec.im %}{{ spec.im }}{% endif %}</td>
                                        <td>{% if spec.ip %}{{ spec.ip }}{% endif %}</td>
                                        <td>{% if spec.ic %}{{ spec.ic }}{% endif %}</td>
                                        <td>{{ spec.item_unit_cost|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_cost|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_unit_price|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_price|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_unit_profit|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_total_profit|floatformat|intcomma }}</td>
                                        <td>{{ spec.item_percent|floatformat }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="10"></td>
                                <td>{{ total.cost_total|floatformat|intcomma }}</td>
                                <td></td>
                                <td>{{ total.price_total|floatformat|intcomma }}</td>
                                <td></td>
                                <td>{{ total.profit_total|floatformat|intcomma }}</td>
                                <td>{{ total.profit_total_percent|floatformat }}</td>
                            </tr>
                            </tbody>
                        </table>
                    <h3 class="text-center" style="margin-top: 50px">بدون قیمت تمام شده</h3>
                        <table class="table table-hover text-center">
                            <thead>
                            <tr class="d-inline bg-danger">
                                <td scope="col" class="text-center">ردیف</td>
                                <td scope="col" class="text-center">کد کالا</td>
                                <td scope="col" class="text-center">تعداد</td>
                                <td scope="col" class="text-center">کیلووات</td>
                                <td scope="col" class="text-center">سرعت</td>
                                <td scope="col" class="text-center">ولتاژ</td>
                                <td scope="col" class="text-center">IM</td>
                                <td scope="col" class="text-center">IP</td>
                                <td scope="col" class="text-center">IC</td>
                                <td scope="col" class="text-center">قیمت</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spec in no_cost %}
                                {% if spec.price and spec.qty %}
                                    <tr>
                                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                        <td>{{ spec.code }}</td>
                                        <td>{{ spec.qty }}</td>
                                        <td>{{ spec.kw|floatformat }}</td>
                                        <td>{{ spec.rpm }}</td>
                                        <td>{{ spec.voltage }}</td>
                                        <td>{% if spec.im %}{{ spec.im }}{% endif %}</td>
                                        <td>{% if spec.ip %}{{ spec.ip }}{% endif %}</td>
                                        <td>{% if spec.ic %}{{ spec.ic }}{% endif %}</td>
                                        <td>{{ spec.price|floatformat|intcomma }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}