{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% block right_col %}
    <div class="container">
        {% for msg in messages %}
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <ul class="message">

                        <li class="alert alert-error">{{ msg }}</li>

                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-10 col-md-offset-1">

            <h1 class="text-center"> Edit Proforma </h1>

            <form action="{% url 'pref_edit' ypref_pk=proforma.id %}" method="POST">
                {% csrf_token %}
                <div id="find_pref_price">
                    <table class="table table-striped w-auto">
                    <thead class="dark">
                    <tr>
                        <th class="text-center">تعداد</th>
                        <th class="text-center">کیلووات</th>
                        <th class="text-center">سرعت</th>
                        <th class="text-center">قیمت</th>
                        <th class="text-center">ارسال به مشتری</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prof_spec in  prof_specs %}
                        <tr>
                            <td><input type="number" name="qty" value="{{ prof_spec.qty }}" class="form-control" style="max-width: 80px;"></td>
                            <td>{{ prof_spec.kw | floatformat }}</td>
                            <td>{{ prof_spec.rpm }}</td>
                            <td>
                                <div>
                                    <input type="text" name="price" value="{{ prof_spec.price | floatformat }}"
                                       class="form-control" style="max-width: 150px;">
                                </div>

                            <td><input type="number" name="qty_sent" value="{{ prof_spec.qty_sent }}"
                                       class="form-control" style="max-width: 80px;"></td>
                            {#                            <td><input name="sent" type="checkbox" {% if prof_spec.sent %} checked {% endif %} value="{{ prof_spec.pk|enc }}" ></td>#}
                            <td class="text-center"><input name="sent" type="checkbox" {% if prof_spec.sent %}
                                                           checked {% endif %} value="{{ prof_spec.pk }}"></td>

                            </td>
                            <td>
                                <find_pref_price :rspec='{{ prof_spec.pk }}'></find_pref_price>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <button type="submit" name="edit" class="btn btn-sm btn-success">ذخیره</button>
                <a class="btn btn-danger btn-sm" href="{% url 'pref_details' ypref_pk=proforma.pk %}">انصراف</a>
            </form>
        </div>
    </div>


{% endblock %}