{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <link href="{% static 'request/rtl/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'request/rtl/vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css' %}" rel="stylesheet">
    <link href="{% static 'request/rtl/build/css/pdf_header_footer.css' %}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main" style="background-color: white">
            <div style="margin-top: 40px;">
                <div class="container-fluid" style="color: #000;">
                        <div class="footer">
                            <div class="col-xs-12">
                                <div class="row">
{#                                    <div><img class="center-img" src="{{ contents.prizes_full_url }}" alt=""></div>#}
                                    <div><img class="center-img" src="{% static 'request/admin_jemco/images/prizes.jpg' %}" alt=""></div>
                                    <div style="border-top: 1px solid grey; margin-top: 5px;">
                                        <div class="col-xs-6 " style="font-size: 9px;">
                                            <div class="">
                                                <span style="font-family: 'IRANSans1';">دفتر  مرکزی: تهــران خیابــان طالقــانـی،بعـدازچهــارراه بهــار،خیـابــان جهــان،بـن بست بنیــاد،پـلاک 2،واحــد1</span>
                                            </div>
                                            <div class="">
                                                <span>کد پستــی :	1563637313</span>
                                                <span style="direction: rtl !important; unicode-bidi: embed;">تلفـن :	77531993 – 77532544 – 77532401 – 021</span>
                                                <span>فکـس : </span><span
                                                    style="direction: rtl !important; unicode-bidi: embed;">021-77532795</span>
                                            </div>
                                            <div class="">
                                                <span> کارخانه: سبزوار، کیلومتر 45 جاده سبزوار-اسفراین</span>
                                                <span>کد پستــی :	9618836697</span>
                                                <span>صندوق پستی: 463</span>
                                            </div>
                                            <div class="">
                                                <span>تلفن: </span><span
                                                    style="direction: rtl !important; unicode-bidi: embed;"> 051-44645802</span><span> (5خط)</span>
                                                <span style="direction: rtl !important; unicode-bidi: embed;">051-58285269-71</span>
                                                <span>فکس: </span><span
                                                    style="direction: rtl !important; unicode-bidi: embed;"> 051-44664434</span>
                                            </div>
                                            <div class="text-center" ><span><a href="http://www.jemcomotor.ir" style="font-size: 12px;">www.jemcomotor.ir</a></span></div>
                                        </div>
                                        <div class="col-xs-6 text-left"
                                             style="font-size: 9px; font-family: 'arial'">
                                            <div><span>Head Office: Unit 1, NO. 2, Bonyad dead end, Jahan Ave, Taleghani st, Tehran, Iran</span>
                                            </div>
                                            <div><span>Postal Code: 1563637313      Tel: +9821-77532544 - 77532401 - 77531993       Fax: +982177532795</span>
                                            </div>
                                            <div><span>Factory: 45th Km, Sabzevar-Esfarayen road, Sabzevar, Khorasan Razavi, Iran</span>
                                            </div>
                                            <div><span>Postal Code: 9618836697      Tel: +9851-58285269-71  +9851-44645802      Fax: +9851-44664434</span>
                                            </div>
                                            <div class="text-center" style="font-size: 12px;"><span>Economic Code: 411193685877</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>


</body>
</html>