{% extends 'requests/admin_jemco/search_index_base.html' %}
{% load humanize %}
{% load request_extras %}

{% block header %}
    {{ title }}
{% endblock %}
{% block forms %}
    <div class="row">
                {% if showDelete %}
                    <div class="col-md-8">
                        <form class="" method="POST" action="{% url 'pref_find' %}">
                            {% csrf_token %}
                            شماره پیشفاکتور <input name="pref_no">
                            {#                                            <input name="text">#}
                            <button type="submit" name="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <a class="btn-success btn-sm" href="{% url 'perm_export' %}">
                                <i class="fa fa-download" aria-hidden="true"></i> اکسل
                            </a>
                        </form>
                    </div>
                {% endif %}

                <div class="col-md-12">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <div class="col-md-12">
                                {{ form.customer_name.errors }}
                                <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
                                {{ form.customer_name }}
                            </div>
                            <div class="col-md-6">
                                {{ form.date_min.errors }}
                                <label for="{{ form.date_min.id_for_label }}">{{ form.date_min.label }}</label>
                                {{ form.date_min }}


                            </div>
                            <div class="col-md-6">
                                {{ form.date_max.errors }}
                                <label for="{{ form.date_max.id_for_label }}">{{ form.date_max.label }}</label>
                                {{ form.date_max }}


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                {{ form.status.errors }}
                                <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                                {{ form.status }}
                            </div>
                            <div class="col-md-6">
                                {{ form.owner.errors }}
                                <label for="{{ form.owner.id_for_label }}"> {{ form.owner.label }} </label>
                                {{ form.owner }}


                            </div>
                            <div class="col-md-4">
                                {{ form.sort_by.errors }}
                                <label for="{{ form.sort_by.id_for_label }}">{{ form.sort_by.label }}</label>
                                {{ form.sort_by }}
                            </div>
                            <div class="col-md-4">
                                {{ form.dsc_asc.errors }}
                                <label for="{{ form.dsc_asc.id_for_label }}"> {{ form.dsc_asc.label }} </label>
                                {{ form.dsc_asc }}
                            </div>
                            <div class="col-md-4">
                                {{ form.item_per_page.errors }}
                                <label for="{{ form.item_per_page.id_for_label }}"> {{ form.item_per_page.label }} </label>
                                {{ form.item_per_page }}
                            </div>

                        </div>
                        <button type="submit" name="submit" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>

                        <a class="btn btn-danger" href="{% url 'perm_clear_session' %}" data-toggle="tooltip"
                           title="حذف فیلتر ها"><i class="fa fa-close" aria-hidden="true"></i></a>
                    </form>
                </div>
                <div class="col-md-4 left">
                    <span class="btn-danger" style="padding: 3px;">تاخیر تحویل</span>
                    <span class="btn-warning" style="padding: 3px;">کمتر از یک ماه</span>
                    <span class="btn-success" style="padding: 3px;">بیشتر از یک ماه</span>
                    <span class="" style="border: solid black 1px; padding: 3px;">تحویل شده</span>
                </div>


            </div>
{% endblock %}
{% block table_head_body %}
    <thead>
                    <tr>
                        <th scope="col" class="text-center">ردیف</th>
                        <th scope="col" class="text-center">شماره درخواست</th>
                        <th scope="col" class="text-center">شماره پیش فاکتور</th>
                        <th scope="col" class="text-center">شماره مجوز</th>
                        <th scope="col" class="text-center test-phase">شماره مجوز</th>
                        <th scope="col" class="text-center test-phase">حواله</th>
                        <th scope="col" class="text-center test-phase">فاکتور</th>
                        <th scope="col" class="text-center">مشتری</th>
                        <th scope="col" class="text-center">تاریخ مجوز</th>

                        <th scope="col" class="text-center">تعداد کل</th>
{#                        <th scope="col" class="text-center test-phase">تعداد کل</th>#}
                        <th scope="col" class="text-center">تعداد ارسال شده</th>
{#                        <th scope="col" class="text-center test-phase">ارسال شده</th>#}
                        <th scope="col" class="text-center">تعداد باقیمانده</th>
                        <th scope="col" class="text-center">کیلووات</th>
{#                        <th scope="col" class="text-center test-phase">باقیمانده</th>#}
                        <th scope="col" class="text-center">باقیمانده(روز)</th>
{#                        <th scope="col" class="text-center test-phase">باقیمانده(روز)</th>#}
                        <th scope="col" class="text-center">دلیل تأخیر</th>
                        <th scope="col" class="text-center">کل(مبلغ)</th>
                        <th scope="col" class="text-center">تسویه نشده(مبلغ)</th>
                        <th scope="col" class="text-center">تسویه نشده(درصد)</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    {% for p in permission %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>
                                <a class="badge badge-light"
                                   href="{% url 'request_details' request_pk=p.req_id.pk %}">{{ p.req_id.number }}</a>
                            </td>
                            <td>
                                <a class="badge badge-light"
                                   href="{% url 'pref_details' ypref_pk=p.pk %}">{{ p.number }}</a>
                            </td>
                            <td>
                                <a class="badge badge-light"
                                   href="{% url 'pref_details' ypref_pk=p.pk %}">{{ p|perm_number }}</a>
                            </td>

                            {% if not showDelete %}
                                <td>{{ p.temp_number }}</td>{% endif %}
                            <td>

                                {% for x in p.perm_prof.all %}
                                    <p><a class="badge"
                                          href="{% url 'perms:perm_details' perm_pk=x.pk %}">{{ x.number }}</a></p>
                                {% endfor %}
                            </td>
                            <td>

                                {% for x in p.perm_prof.all %}
                                    {% for inv in x.inv_out_perm.all %}
                                        <p><a class="badge"
                                              href="{% url 'invout:invout_details' invout_pk=inv.pk %}">{{ inv.number }}</a>
                                        </p>
                                    {% endfor %}

                                {% endfor %}
                            </td>
                            <td>

                                {% for x in p.perm_prof.all %}
                                    {% for inv in x.inv_out_perm.all %}
                                        {% for invoice in inv.invoice_invout.all %}
                                            <p><a class="badge"
                                                  href="{% url 'invoice:invoice_details' invoice_pk=invoice.pk %}">
                                                {{ invoice.number }}
                                            </a></p>
                                        {% endfor %}
                                    {% endfor %}

                                {% endfor %}
                            </td>

                            <td>
                                <a href="{% url 'customer_read' customer_pk=p.req_id.customer.pk %}">{{ p.req_id.customer.name }}</a>
                            </td>
                            <td>{{ p.perm_date }}</td>

                            <td>{{ p.total_proforma_qty }}</td>
{#                            <td>{{ p.perm_prof.first.qty_total }}</td>#}
                            <td>{{ p.total_proforma_qty_sent }}</td>
{#                            <td>#}
{#                                {% invout_qty_sent p.perm_prof.first %}#}
{#                            </td>#}
{#                            <td>{{ p.total_proforma_qty_remain }}</td>#}
                            <td>{{ p.perm_qty_remainder }}</td>
                            <td>{{ p.total_kw|floatformat|intcomma }}</td>
{#                            <td>#}
{#                                {% invout_qty_not_sent p.perm_prof.first %}#}
{#                            </td>#}
                            {#                            <td>{{ p|days }}</td>#}
                            <td class="{{ p|perm_warning_class }}">{{ p|perm_days }}</td>
{#                            {% perm_days_new p as pdn %}#}
{#                            <td class="{{ pdn.warning_class }}">{{ pdn.delay }}</td>#}
                            <td>{% if p.issue_type %}{{ p.issue_type }}{% else %}{% endif %}</td>
                            <td>{{ p.total_proforma_price_vat.price_vat|floatformat | intcomma }}</td>
                            <td>{{ p.total_proforma_received.remaining|floatformat | intcomma }}</td>
                            <td>{{ p.total_proforma_received.remaining_percent|floatformat }}</td>
                            {#                            <td>{{ p.perm.summary|truncatechars:60 }}</td>#}
                            <td>{{ p.owner.last_name }} ({{ p.req_id.owner.last_name }})</td>
                            <td>
                                {#                            <a class="btn btn-primary btn-xs"#}
                                {#                               href="{% url 'pref_details' ypref_pk=p.perm.pk %}">#}
                                {#                                <i class="fa fa-eye"></i> مشاهده#}
                                {#                            </a>#}
                                {% if perms.request.add_xpref and showDelete and False %}

                                    <a class="btn btn-primary btn-xs btn-warning"
                                       href="{% url 'pref_edit2' ypref_pk=p.pk %}">
                                        <i class="fa fa-pencil"></i> ویرایش
                                    </a>
                                    <a class="btn btn-primary btn-xs btn-danger"
                                       href="{% url 'pref_delete' ypref_pk=p.pk %}"><i
                                            class="fa fa-trash"></i> حذف</a>

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="9">جمع</td>
                        <td>{{ qty.total }}</td>
                        <td>{{ qty.qty_sent }}</td>
                        <td>{{ qty.remain }}</td>
                        <td>{{ tkw | floatformat | intcomma }}</td>
                        <td colspan="2"></td>
                        <td>{{ amount | floatformat | intcomma }}</td>
                        <td>{{ amount_due | floatformat | intcomma }}</td>
                    </tr>
                    </tbody>
{% endblock %}
{% block pagination_links %}{% endblock %}