{% extends 'requests/admin_jemco/search_index_base.html' %}
{% load humanize %}
{% load request_extras %}

{% block header %}
    {{ title }}
{% endblock %}
{% block forms %}
    <div class="row">
                <div class="col-xs-6 col-md-4">
                    {% if showDelete %}
                        <form method="POST" action="{% url 'pref_find' %}">
                            {% csrf_token %}
                            شماره پیشفاکتور <input name="pref_no">
                            {#                    <input name="text">#}
                            <button type="submit" name="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-xs-6 col-md-8 pull-left">
                    <div class="pull-left">
                        {% if perms.request.add_xpref and showDelete %}
                            <a href="{% url 'pro_form' %}" class="btn btn-success btn-sm "><i
                                    class="fa fa-plus"></i>
                                پیش فاکتور جدید</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="col-md-4">
                    <div class="col-md-12">
                        {{ form.customer_name.errors }}
                        <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
                        {{ form.customer_name }}
                    </div>
                    <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.kw_min.errors }}
                                <label for="{{ form.kw_min.id_for_label }}">کیلووات(از)</label>
                                {{ form.kw_min }}
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.kw_max.errors }}
                                <label for="{{ form.kw_max.id_for_label }}">کیلووات(تا)</label>
                                {{ form.kw_max }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fieldWrapper">
                                {{ form.rpm.errors }}
                                <label for="{{ form.rpm.id_for_label }}">سرعت</label>
                                {{ form.rpm }}
                            </div>
                        </div>

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        {{ form.status.errors }}
                        <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                        {{ form.status }}
                    </div>
                    <div class="col-md-6">
                        {{ form.owner.errors }}
                        <label for="{{ form.owner.id_for_label }}"> {{ form.owner.label }} </label>
                        {{ form.owner }}


                    </div>
                    <div class="col-md-6">
                        {{ form.date_min.errors }}
                        <label for="{{ form.date_min.id_for_label }}">{{ form.date_min.label }}</label>
                        {{ form.date_min }}


                    </div>
                    <div class="col-md-6">
                        {{ form.date_max.errors }}
                        <label for="{{ form.date_max.id_for_label }}">{{ form.date_max.label }}</label>
                        {{ form.date_max }}

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        {{ form.sort_by.errors }}
                        <label for="{{ form.sort_by.id_for_label }}">{{ form.sort_by.label }}</label>
                        {{ form.sort_by }}
                    </div>
                    <div class="col-md-6">
                        {{ form.dsc_asc.errors }}
                        <label for="{{ form.dsc_asc.id_for_label }}"> {{ form.dsc_asc.label }} </label>
                        {{ form.dsc_asc }}
                    </div>
                    <div class="col-md-6">
                        {{ form.item_per_page.errors }}
                        <label for="{{ form.item_per_page.id_for_label }}"> {{ form.item_per_page.label }} </label>
                        {{ form.item_per_page }}
                    </div>
                    <div class="col-md-6">
                        {{ form.project_type.errors }}
                        <label for="{{ form.project_type.id_for_label }}"> {{ form.project_type.label }} </label>
                        {{ form.project_type }}
                    </div>
                </div>
                <button type="submit" name="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <a class="btn btn-danger btn-sm" href="{% url 'prefspec_clear_cache' %}" data-toggle="tooltip" title="حذف فیلترها"><i class="fa fa-close"></i></a>
            </form>
{% endblock %}
{% block table_head_body %}
    <thead>
                    <tr>
                        <th scope="col" class="text-center">ردیف</th>
                        <th scope="col" class="text-center">kw</th>
                        <th scope="col" class="text-center">rpm</th>
                        <th scope="col" class="text-center">نوع پروژه</th>
                        <th scope="col" class="text-center">تعداد</th>
                        <th scope="col" class="text-center">ارسال شده</th>
                        <th scope="col" class="text-center">مانده</th>
                        <th scope="col" class="text-center">کیلووات</th>
                        <th scope="col" class="text-center">مبلغ</th>
                        <th scope="col" class="text-center">شماره پیش فاکتور</th>
                        <th scope="col" class="text-center">شماره مجوز</th>
                        <th scope="col" class="text-center">شماره درخواست</th>
                        <th scope="col" class="text-center">مشتری</th>
                        <th scope="col" class="text-center">تاریخ</th>
                        <th scope="col" class="text-center">تاریخ مجوز</th>
                        <th scope="col" class="text-center">تحویل</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                    </thead>

                    <tbody class="">
                    {% for prefspec in pref_specs %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ prefspec.kw }}</td>
                            <td>{{ prefspec.rpm }}</td>
                            <td>{{ prefspec.reqspec_eq.type.title }}</td>
                            <td>{{ prefspec.qty }}</td>
                            <td>{{ prefspec.qty_sent }}</td>
                            <td>{{ prefspec.qty_remaining }}</td>
                            <td>{% kw_sold kw=prefspec.kw qty=prefspec.qty as kw_sold %}{{ kw_sold | floatformat | intcomma }}</td>
                            <td>{% amount_sold price=prefspec.price qty=prefspec.qty as amount_sold %}{{ amount_sold | floatformat | intcomma }}</td>
                            <td><a href="{% url 'pref_details' ypref_pk=prefspec.xpref_id.pk %}">{{ prefspec.xpref_id.number }}</a></td>
                            <td><a href="{% url 'pref_details' ypref_pk=prefspec.xpref_id.pk %}">{{ prefspec.xpref_id.perm_number }}</a></td>
                            <td><a href="{% url 'request_details' request_pk=prefspec.xpref_id.req_id.pk %}">{{ prefspec.xpref_id.req_id.number }}</a></td>
                            <td><a href="{% url 'customer_read' customer_pk=prefspec.xpref_id.req_id.customer.pk %}">{{ prefspec.xpref_id.req_id.customer.name }}</a></td>
                            <td>{{ prefspec.xpref_id.date_fa }}</td>
                            <td>{{ prefspec.xpref_id.perm_date }}</td>
                            <td>{{ prefspec.xpref_id.due_date }}</td>
                            <td>{{ prefspec.xpref_id.owner }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">جمع</td>
                        <td>{{ qty | intcomma }}</td>
                        <td colspan="2"></td>
                        <td>{{ kw | floatformat | intcomma }}</td>
                        <td>{{ amount | floatformat | intcomma }}</td>
                    </tr>
                    </tbody>
{% endblock %}
{% block pagination_links %}
    {% if pref_specs.has_other_pages %}
                <ul class="pagination">
                    {% if pref_specs.has_previous %}
                        <li><a href="?page={{ pref_specs.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in pref_specs.paginator.page_range %}
                        {% if pref_specs.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pref_specs.has_next %}
                        <li><a href="?page={{ pref_specs.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
{% endblock %}