{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load sales_ex_dashboard %}
{% block right_col %}
    <div>
        <span>تغییراتی که باید برای پیش فاکتور شماره</span>
        <span class="red">{{ proforma.number }}</span>
        <span> باید اعمال شوند.</span>
    </div>
    <p>{{ proforma.number }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-xs btn-success" type="submit">ثبت</button>
        <a class="btn btn-xs btn-danger" href="{% url 'verify' %}">انصراف</a>
    </form>
{% endblock %}