{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load functions %}
{% block right_col %}
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h3>{{ msg }}</h3>
                    <h3>
                        {{ message }}
                    </h3>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        {% for img in prof_images %}
                            {#                            <div ><img src="{{ img.image.url }}" width="30px" height="30px"></div><span id="{{ img.pk }}" class="imgClr">Clear</span>#}
                            <div><span class="img-thumbnail"><img src="{{ img.image.url }}" width="50px" height="50px"></span>
                                <span>{{ img_names|hash:img.pk }}</span><span><a
                                        href="{% url 'prof_img_del' img_pk=img.pk %}"><i class="fa fa-times"
                                                                                         aria-hidden="true"></i></a></span>
                            </div>
                        {% endfor %}
                        {{ prof_file.as_p }}
                        <button class="btn btn-success btn-sm" type="submit" name="submit">ادامه</button>
                        <a class="btn btn-danger btn-sm" href="{% url 'pref_index' %}">انصراف</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}








