{% extends 'requests/base.html' %}
{% block mainContent %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
               {% if error %}
                {{ error }}
            {% endif %}
            <form method="POST" action="{% url 'create_verf' %}" enctype="multipart/form-data">
                {% csrf_token %}
                Verification No.<br>
                <input type="text" name="number"><br>
                Prefactor No.<br>
                <select name="pref_number">
                {% for item in list %}
                      <option value="{{item}}">{{item}}</option>
                {% endfor %}

                </select>
            <br>
                Summary:<br>
                <textarea name="summary"></textarea><br>
                Image<br>
                <input type="file" name="image"><br>

                <input class="btn btn-primary" type="submit" value="Add New">

            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

