{% extends 'requests/admin_jemco/page_elements/base_html/pdf_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load sales_ex_dashboard %}
{% block right_col %}
    <div class="container-fluid" style="color: #000;">
        {% if contents.header %}
            <div class="sticky-top">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-4">Logo goes here...</div>
                    <div class="col-xs-4">text</div>
                    <div class="col-xs-4">date and number</div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {#                <div class="table-responsive">#}
                <div class="col-xs-12">
                    {#                    <table class="table table-hover text-center">#}
                    <table class="tableFull table-bordered" style="border: 1px solid black;">
                        <tbody>
                        <tr>
                            <td>فروشنده</td>
                            <td colspan="5">
                                <div>
                                    <span>نام فروشنده:</span>
                                    <span>صنایع ماشین های الکتریکی جوین(جمکو) شماره ثبت: 2045</span>
                                    <span class="left">شماره اقتصادی: 5877-9368-4111</span>
                                </div>
                                <div>
                                    <span>سبزوار کیلومتر 45 جاده اسفراین - کد پستی: 9618836697</span>
                                    <div class="left">
                                        <span style="float: right;">تاریخ پیش فاکتور:</span>
                                        <span style="float: right;">{{ contents.pref.date_fa }}</span>
                                    </div>
                                </div>
                                <div>
                                    <span>تلفن: </span><span>77532401-77531993-021</span>
                                    <span>شماره درخواست</span><span>{{ contents.pref.req_id.number }}</span>
                                    <span class="left">شماره پیش فاکتور: <span>{{ contents.pref.number }}</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>خریدار</td>
                            <td colspan="5">
                                <div><span>نام خریدار:</span><span>{{ contents.pref.req_id.customer.name }}</span></div>
                                <div>
                                    <span>کد خریدار: {{ contents.pref.req_id.customer.code_temp }}</span>
                                    {% if contents.pref.req_id.customer.phone %}
                                        <div class="left">
                                            <span style="float: right;">تلفن:</span>
                                            <span style="float: right;">{{ contents.pref.req_id.customer.phone }}</span>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div>
                                    <span>نشانی: {{ contents.pref.req_id.customer.addr }}</span>
                                    {% if contents.pref.req_id.customer.fax %}
                                        <div class="left">
                                            <span style="float: right;">فکس:</span>
                                            <span style="float: right;">{{ contents.pref.req_id.customer.fax }}</span>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr class="col-md-12">
                            <th class="text-center"></th>
                            <th class="text-center">کد کالا</th>
                            {#                            <th class="text-center">کیلووات</th>#}
                            {#                            <th class="text-center">سرعت</th>#}
                            {#                            <th class="text-center">ولتاژ</th>#}
                            <th class="text-center">شرح کالا</th>
                            <th class="text-center">تعداد</th>
                            <th class="text-center">قیمت واحد</th>
                            <th class="text-center">قیمت کل</th>
                        </tr>
                        {% for index, object in contents.nested.items %}
                            {% if object.obj.price and object.obj.qty %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ object.obj.code }}</td>
                                    {#                                    <td class="text-center">{{ object.obj.kw }}</td>#}
                                    {#                                    <td class="text-center">{{ object.obj.rpm }}</td>#}
                                    {#                                    <td class="text-center">{{ object.obj.voltage }}</td>#}
                                    <td class="text-center">
                                        <span>{{ object.obj.kw }}kw</span>
                                        <span>{{ object.obj.rpm }}rpm</span>
                                        <span>{{ object.obj.voltage }}V</span>
                                        {% if object.obj.ip %}<span>{{ object.obj.ip }}</span>{% endif %}
                                        {% if object.obj.ic %}<span>{{ object.obj.ic }}</span>{% endif %}
                                        {% if object.obj.im %}<span>{{ object.obj.im }}</span>{% endif %}
                                    </td>
                                {{ object.obj.im }}
                                    <td class="text-center">{{ object.obj.qty }}</td>
                                    <td class="text-center">{{ object.obj.price|intcomma:0 }}</td>
                                    <td class="text-center">{{ object.spec_total|intcomma:0 }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                <div>
                                    <div class="">نحوه پرداخت:</div>
                                    <div class="clearfix">
                                        <span style="float: right;">مدت اعتبار:</span>
                                        <span style="float: right;">{{ contents.pref.exp_date_fa }}</span>
                                    </div>
                                    <div class="clearfix">زمان تحویل:</div>
                                    <div class="clearfix">محل تحویل:</div>
                                    <div class="clearfix">مدت گارانتی:</div>
                                </div>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>جمع</td>
                                    </tr>
                                    <tr>
                                        <td>تخفیف</td>
                                    </tr>
                                    <tr>
                                        <td>نصب و راه اندازی</td>
                                    </tr>
                                    <tr>
                                        <td>بسته بندی</td>
                                    </tr>
                                    <tr>
                                        <td>قانون مالیات بر ارزش افزوده</td>
                                    </tr>
                                    <tr>
                                        <td>قابل پرداخت</td>
                                        <td></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </td>
                            <td>
                                <table class="tableFull text-center">
                                    <tbody>
                                        <tr><td>{{ contents.no_total | floatformat:1 | intcomma }}</td></tr>
                                        <tr><td style="color: white;">.</td></tr>
                                        <tr><td style="color: white;">.</td></tr>
                                        <tr><td style="color: white;">.</td></tr>
                                        <tr><td>{{ contents.vat | floatformat:1 | intcomma }}</td></tr>
                                        <tr><td>{{ contents.proforma_total | floatformat:1 | intcomma }}</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if contents.footer %}
            <div class="footer">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-6">address</div>
                    <div class="col-xs-3">tel</div>
                    <div class="col-xs-3">fax</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}