{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% block right_col %}
    <div class="container">
        {% for msg in messages %}
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <ul class="message">

                        <li class="alert alert-error">{{ msg }}</li>

                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6 col-md-offset-3">

            <h1 class="text-center"> Edit Proforma </h1>
            <h4> شماره پیش فاکتور: <a href="{% url 'pref_details' ypref_pk=proforma.pk %}">{{ proforma.number }}</a>
            </h4>

            <br>تاریخ صدور: {{ proforma.date_fa }}
            <br>تاریخ اعتبار: {{ proforma.exp_date_fa }}
            <hr>
            {% if show %}
                <p>مبلغ کالا: {{ proforma.total_proforma_price_vat.no_vat|floatformat|intcomma }}</p>
                <p>ارزش افزوده: {{ proforma.total_proforma_price_vat.vat|floatformat|intcomma }}</p>
                <p>مبلغ کل مجوز: {{ proforma.total_proforma_price_vat.price_vat|floatformat|intcomma }}</p>
                <hr>
                <p>دریافتی بابت
                    مجوز: {{ proforma.total_proforma_received.received|floatformat|intcomma }}({{ proforma.total_proforma_received.received_percent|floatformat }}%)</p>
                <p>مانده
                    مجوز: {{ proforma.total_proforma_received.remaining|floatformat|intcomma }}({{ proforma.total_proforma_received.remaining_percent|floatformat }}%)</p>
                <h2>{{ proforma.total_proforma_received.status }}</h2>
            {% endif %}
            <form action="{% url 'pref_edit' ypref_pk=proforma.id %}" method="POST">
                {% csrf_token %}

                <table class="table">
                    <thead class="dark">
                    <tr>
                        <th class="text-center">تعداد</th>
                        <th class="text-center">کیلووات</th>
                        <th class="text-center">سرعت</th>
                        <th class="text-center">قیمت</th>
                        <th class="text-center">ارسال به مشتری</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prof_spec in  prof_specs %}
                        <tr>
                            <td><input type="number" name="qty" value="{{ prof_spec.qty }}" class="form-control"></td>
                            <td>{{ prof_spec.kw }}</td>
                            <td>{{ prof_spec.rpm }}</td>
                            <td><input type="number" name="price" value="{{ prof_spec.price | floatformat }}"
                                       class="form-control">
                            <td><input type="number" name="qty_sent" value="{{ prof_spec.qty_sent }}"
                                       class="form-control"></td>
                            {#                            <td><input name="sent" type="checkbox" {% if prof_spec.sent %} checked {% endif %} value="{{ prof_spec.pk|enc }}" ></td>#}
                            <td class="text-center"><input name="sent" type="checkbox" {% if prof_spec.sent %}
                                                           checked {% endif %} value="{{ prof_spec.pk }}"></td>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" name="edit" class="btn btn-sm btn-success">ذخیره</button>
                <a class="btn btn-danger btn-sm" href="{% url 'pref_details' ypref_pk=proforma.pk %}">انصراف</a>
            </form>
        </div>
    </div>


{% endblock %}