{% extends 'requests/admin_jemco/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{ msg }}</h3>
            <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">
                Proformas</h1>
            {% if messages %}
                <div class="alert alert-danger">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="{% url 'pref_find' %}">
                {% csrf_token %}
                Proforma No <input name="pref_no">
                <input name="text">
                <button type="submit" name="submit" class="btn btn-sm btn-primary">Find</button>
            </form>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Number</th>
                    <th scope="col" class="text-center">request</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Summary</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
                </thead>

                <tbody class="">
                {% for pref in prefs %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        {#                        <td>{{ pref.pk }}</td>#}
                        <td>{{ pref.number }}</td>
                        <td><a href="{% url 'request_details' request_pk=pref.req_id.pk %}">{{ pref.req_id.number }}</a>
                        </td>
                        <td>{{ pref.pub_date }}</td>
                        <td>{{ pref.summary|truncatechars:60 }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs"
                               href="{% url 'pref_details' ypref_pk=pref.pk %}">Details</a>
                            <a class="btn btn-primary btn-xs btn-warning"
                               href="{% url 'pref_delete' ypref_pk=pref.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            {#            <a href="{% url 'pref_form' %}" class="btn btn-success btn-sm">Add new Prefactor</a>#}
            <a href="{% url 'pro_form' %}" class="btn btn-success btn-sm">New Proforma</a>
        </div>
    </div>
{% endblock %}