{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>شرکت جمکو</title>
    <style>
        @page {
            size: a4 portrait;

        @font-face {
            font-family: B_Nazanin;
            {#src: url('../ypref/B_nazanin.ttf');#}
            src: url('D:/Dropbox/Dev/projects/jemco/jCrm/B_nazanin.ttf');
            {#src: url("D:/Dropbox/Dev/projects/jemco/jCrm/request/admin_jemco/ypref/B_nazanin.ttf");#}
            {#src: url("D:/Dropbox/Dev/projects/jemco/jCrm/request/admin_jemco/ypref/B_nazanin.ttf");#}
        }

        frame content_frame {
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 692pt;
            -pdf-frame-border: 1;
        }

        html {
            font-family: 'B_Nazanin', Fallback, sans-serif;
        }

        }
    </style>
{#    <meta charset="UTF-8">#}

</head>
سلام برشما
<br>
<div style="font-family: 'Tw Cen MT Condensed Extra Bold', Fallback, sans-serif">Tw Cen MT Condensed Extra Bold</div>
<div style="font-family: 'B_Nazanin', Fallback, sans-serif">الان خوب موقعی که .....</div>
<div style="font-family: 'B_Nazanin', Fallback, sans-serif">{{ textValue }}</div>
<div style="font-family: 'B_Nazanin', Fallback, sans-serif">{{ sum }}</div>
<div style="font-family: 'B_Nazanin', Fallback, sans-serif">{{ sum2 }}</div>

<body class="">

<!-- Content for Static Frame 'header_frame' -->
<div id="header_content">
    <div class="">
        <div class="">

            <div class="">
                <div class="">
                    <div class="" style="border: 0;">
                        <a href="{% url 'dashboard' %}" class="site_title">
                            {#                        <i class="fa fa-paw"></i>#}
                            <span>معاونت بازرگانی</span>
                            <span>معاونت بازرگانی</span>
                            <span>معاونت بازرگانی</span>
                        </a>
                    </div>

                    <!-- menu profile quick info -->
                    <div class="">
                        <div class="">
                            <img src="{% static 'request/admin_jemco/images/crm_logo.jpg' %}" alt="..."
                                 class="img-circle profile_img">
                        </div>

                    </div>
                    <!-- /menu profile quick info -->

                    <br/>
                </div>
            </div>

            <div class="">
                <div style="color: red;">
                    {% for spec in specs %}
                        {% if spec.price and spec.qty %}
                            {{ spec.code }} -{{ spec.kw }} - {{ spec.qty }} - {{ spec.qty_sent }}<br>
                        {% endif %}
                    {% endfor %}
                </div>
                <table class="">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">row</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center">تعداد</th>
                        <th scope="col" class="text-center">ارسال شده</th>
                        <th scope="col" class="text-center">مانده</th>
                        <th scope="col" class="text-center">کیلووات</th>
                        <th scope="col" class="text-center">سرعت</th>
                        <th scope="col" class="text-center">ولتاژ</th>
                        <th scope="col" class="text-center">ملاحظات</th>
                        <th scope="col" class="text-center">قیمت واحد</th>
                        <th scope="col" class="text-center">مجموع قیمت</th>
                    </tr>
                    </thead>
                    <tbody style="float: right">
                    {% for spec in specs %}
                        {% if spec.price and spec.qty %}
                            <tr>
                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                <td>{{ spec.code }}</td>
                                <td>{{ spec.qty }}</td>
                                <td>{{ spec.qty_sent }}</td>
                                <td>{{ spec.kw }}</td>
                                <td>{{ spec.rpm }}</td>
                                <td>{{ spec.voltage }}</td>
                                <td>{{ spec.considerations }}</td>
                                <td>{{ spec.price|intcomma:0 }}</td>
                                <td>{{ spec_total|intcomma:0 }}</td>
                                <td>{{ spec.xpref_id.summary }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr style="border-top: 2px black solid">
                        <td colspan="3">مالیات ارزش افزوده</td>
                        <td colspan="5"></td>
                        <td class="amount-total ">{{ vat | floatformat:1 | intcomma }}</td>
                    </tr>
                    <tr style="border-top: 2px black solid">
                        <td colspan="3" class="emphsize">مجموع</td>
                        <td class="kw-total emphsize">{{ kw_total|intcomma }} کیلووات</td>
                        <td colspan="4"></td>
                        <td class="amount-total emphsize">{{ proforma_total | floatformat:1 | intcomma }}</td>
                    </tr>
                    </tbody>


                </table>

            </div>


        </div>
        <!-- /page content -->

    </div>
</div>
</div>

<!-- Content for Static Frame 'footer_frame' -->


</body>
</html>
