{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load request_extras %}
{% load static %}
{% block right_col %}
    <div class="container">
        <div class="row">
            {% if messages %}
                {% include 'general/errors.html' %}
            {% endif %}
            {% include 'elements/customer_card.html' with customer=request.customer %}
            <div id="customerSummary" class=" col-md-9 col-sm-9 col-xs-12 ">
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ request.number }}</div>

                        <h3>شماره درخواست</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ request.total_kw|floatformat|intcomma }}</div>

                        <h3>مجموع کیلووات</h3>
                    </div>
                </div>

                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon col-md-6">
                            {#                        <i class="fa fa-usd" aria-hidden="true"></i>#}
                        </div>
                        <div class="count">${{ request.total_received|floatformat|intcomma }}</div>

                        <h3>پرداخت ها</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            {#Buttons#}
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="row">
                        {% if user.is_superuser %}
                            <h4 class="text-right">مهندس {{ request.owner.last_name }}</h4>
                        {% endif %}

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            {% if perms.request.sale_expert %}
                                    <a class="btn btn-default" href="{% url 'request_edit_form' request_pk=request.pk %}">
                                        ویرایش درخواست</a>
                                {% endif %}

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    {% if perms.request.sale_expert %}
                                        <a href="{% url 'spec_form' req_pk=request.pk %}">
                                            <i class="fa fa-plus green"></i> افزودن ردیف
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if perms.request.sale_expert %}
                                        <a href="{% url 'request_delete' request_pk=request.pk %}">
                                            <i class="fa fa-trash red"></i>حذف درخواست
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if perms.request.sale_expert %}
                                        <a href="{% url 'pro_form_cookie' req_id=request.pk %}">
                                            <i class="fa fa-plus green"></i> افزودن پیش فاکتور
                                        </a>

                                    {% endif %}
                                </li>
                                <li>
                                    <a href="{% url 'request_finish' request_pk=request.pk %}">
                                        <i class="fa fa-plus green"></i>
                                        {% if not request.finished %}
                                            اختتام
                                        {% else %}
                                            لغو اختتام
                                        {% endif %}
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>

                    <div class="row">
                        {% if sub_requests %}
                            <div>زیر درخواست های مربوط به این درخواست</div>
                            {% for sub_request in sub_requests %}
                                <span class="btn btn-xs btn-link"><a
                                        href="{% url 'request_details' request_pk=sub_request.pk %}">{{ sub_request.number }}</a></span>
                            {% endfor %}
                        {% endif %}
                        {% if parent_request %}
                            <div>این درخواست از درخواست زیر کپی شده است.</div>
                            {% for sub in parent_request %}
                                <span><a
                                        href="{% url 'request_details' request_pk=sub.pk %}">{{ sub.number }}</a></span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead class="dark">
                        <tr>
                            <td colspan="11"></td>
                            <td class="test-phase" colspan="4">آزمایشی</td>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center rotate_deg">ردیف</th>
                            <th scope="col" class="text-center rotate_deg">کد کالا</th>
                            <th scope="col" class="text-center rotate_deg">تعداد</th>
                            <th scope="col" class="text-center rotate_deg">کیلووات</th>
                            <th scope="col" class="text-center rotate_deg">سرعت</th>
                            <th scope="col" class="text-center rotate_deg">جزئیات</th>
                            <th scope="col" class="text-center rotate_deg">فنی</th>
                            <th scope="col" class="text-center rotate_deg">مالی</th>
                            <th scope="col" class="text-center rotate_deg">انصراف مشتری</th>
                            <th scope="col" class="text-center rotate_deg">مجوز ساخت</th>
                            <th scope="col" class="text-center rotate_deg">ارسال شده</th>
                            <th scope="col" class="text-center rotate_deg">مالی</th>
                            <th scope="col" class="text-center rotate_deg">انصراف مشتری</th>
                            <th scope="col" class="text-center rotate_deg">مجوز ساخت</th>
                            <th scope="col" class="text-center rotate_deg">ارسال شده</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for reqspec in reqspecs %}
                            <tr>
                                <td class="dark">{{ forloop.counter }}</td>
                                {#                <td>{{ customer.pk }}</td>#}
                                <td>{{ reqspec.code }}</td>
                                <td>{{ reqspec.qty }}</td>
                                <td>{{ reqspec.kw|floatformat }}</td>
                                <td>{{ reqspec.rpm_new.rpm }}</td>
                                <td class="text-right">{{ reqspec.summary }}</td>

                                <td><input type="checkbox" {% if reqspec.tech %} checked {% endif %} disabled></td>
                                <td><input type="checkbox" {% if reqspec.price %} checked {% endif %} disabled></td>
                                <td><input type="checkbox" {% if reqspec.cancelled %} checked {% endif %} disabled></td>
                                <td><input type="checkbox" {% if reqspec.permission %} checked {% endif %} disabled>
                                </td>
                                <td><input type="checkbox" {% if reqspec|is_sent %} checked {% endif %} disabled></td>

                                <td style="border-right: 1px solid black;"><input type="checkbox"
                                        {% if reqspec|has_price %} checked {% endif %} disabled></td>
                                <td><input type="checkbox" {% if reqspec|is_cancelled %} checked {% endif %} disabled>??
                                </td>
                                <td><input type="checkbox" {% if reqspec|has_permission %} checked {% endif %} disabled>??
                                </td>
                                <td style="border-left: 1px solid black;"><input type="checkbox"{% if reqspec|is_sent %}
                                                                                 checked {% endif %} disabled></td>

                                {% if perms.request.sale_expert %}

                                    <td>
                                        <a class="btn btn-xs btn-warning"
                                           href="{% url 'reqspec_edit_form' req_pk=request.pk yreqSpec_pk=reqspec.pk %}">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> ویرایش
                                        </a>

                                        <a class="btn btn-primary btn-xs btn-danger"
                                           href="{% url 'reqSpec_delete' req_pk=request.pk yreqSpec_pk=reqspec.pk %}"><i
                                                class="fa fa-trash"></i> حذف</a>
                                    </td>
                                {% endif %}

                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <br>

            </div>

            <div class="row">
                {#Images#}
                {#                                    {% include 'admin_theme/page_elements/files/files_img.html' with images=request.files_by_type.images %}#}
                {#Other files#}
                {#                    {% include 'admin_theme/page_elements/files/files_docs.html' with pdfs=request.files_by_type.pdfs docs=request.files_by_type.docs %}#}

                {#Other files#}
                {#                    {% include 'admin_theme/page_elements/files/files_docs.html' with files=request.files_by_type.other %}#}


                {% include 'admin_theme/page_elements/files/files_list.html' with files=request.files %}

            </div>


        </div>

        <div class="row">
            {% include 'requests/page_elements/request_prof_payment_status.html' with profs=request.proformas %}
        </div>

        <div class="row">
            {% include 'requests/page_elements/comments.html' with comments=request.comments.all %}
        </div>
    </div>
{% endblock %}