{% extends 'requests/admin_jemco/admin_base.html' %}
{% block right_col %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div>
                <h3>{{ msg }}</h3>
                <h3>{{ request.number }}</h3>
                <p>{{ request.pub_date }}</p>
                Total kw: <p>{{ total_kw }}</p>
            </div>

            <table class="withBorder tableFull">
                <tr>
                    <th>No</th>
                    {#            <th>Id</th>#}
                    <th>Qty</th>
                    <th>kw</th>
                    <th>rpm</th>
                    <th>Summary</th>
                </tr>
                <tbody>
                {% for reqspec in reqspecs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {#                <td>{{ customer.pk }}</td>#}
                        <td>{{ reqspec.qty }}</td>
                        <td>{{ reqspec.kw }}</td>
                        <td>{{ reqspec.rpm }}</td>
                        <td>{{ reqspec.summary }}</td>
                        {#                        <td>#}
                        {#                            <a class="btn btn-primary btn-xs" href="{% url 'reqSpec_edit' req_pk=customer.pk %}">Details</a>#}
                        {#                            <a class="btn btn-primary btn-xs btn-warning"#}
                        {#                               href="{% url 'customer_delete' customer_pk=customer.pk %}">Delete</a>#}
                        {#                        </td>#}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <br>
            <div>
                {#                <a href="{% url 'reqSpec_form' req_pk=request.pk %}" class="btn btn-sm btn-warning">Edit Specs</a>#}
                <a href="{% url 'spec_form' req_pk=request.pk %}" class="btn btn-sm btn-warning">Edit Specs</a>
                <a href="{% url 'request_edit_form' request_pk=request.pk %}" class="btn btn-sm btn-warning">Edit Request</a>
            </div>

        </div>
        <div class="col-md-10 col-lg-offset-1">
            {% for img in req_images %}
                <a href="{{ img.image.url }}"><img class="img-responsive img-thumbnail col-md-4"
                                                   src="{{ img.image.url }}" style="max-height: 150px;"></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}