{% extends 'requests/admin_jemco/admin_base.html' %}
{% block right_col %}
    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row">
            <table>
                <tbody class="withBorder">
                    <tr>
                        <th>id</th>
                        <th>request</th>
                        <th>prefactor</th>
                        <th>verification</th>
                    </tr>
                    {% for verification in allPrefVerifications.all %}
                        <tr>
                            <td>{{ verification.id }}</td>
                            <td><a href="{% url 'reqDetails' verification.pref_id.request_id.pk %}">{{ verification.pref_id.request_id.number }}
{#                                            <button type="button" class="btn btn-sm btn-outline-secondary"></button>#}
                                        </a></td>
                            <td>
                                <a href="{% url 'prefactorsDetailPage' verification.pref_id.pk %}">{{ verification.pref_id.number }}
{#                                            <button type="button" class="btn btn-sm btn-outline-secondary"></button>#}
                                        </a>
                            </td>
                            <td>
                                <a href="{% url 'prefVerfDetailPage' verification.pk %}">{{ verification.number }}
{#                                        <button type="button" class=""></button>#}
                                        </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        <hr>
        </div>

            <div class="row">
                {% for verification in allPrefVerifications.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ verification.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <p> {{ verification.summary }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                        <a href="{% url 'reqDetails' verification.pref_id.request_id.pk %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Req: {{ verification.pref_id.request_id.number }}</button>
                                        </a>
                                        <a href="{% url 'prefactorsDetailPage' verification.pref_id.pk %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Pref: {{ verification.pref_id.number }}</button>
                                        </a>
                                        <a href="{% url 'prefVerfDetailPage' verification.pk %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver: {{ verification.number }}</button>
                                        </a>

                                    </div>
                                    <small class="text-muted">{{ verification.pub_date_pretty }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

