{% extends 'requests/admin_jemco/admin_base.html' %}
{% block right_col %}
    {% if  msg %}
        <h3>Payment added successfully</h3>
    {% endif %}

    <br>reqs:
    {% for req_single in reqs %}
        {{ req_single.number }} | {{ req_single.id }} -
    {% endfor %}

    <br>xprefs:
    {% for xpref_single in xprefs %}
        {{ xpref_single.number }} | {{ xpref_single.id }} -
    {% endfor %}

    <br>xpayment:
    {% for xpayment_single in xpayments %}
        {{ xpayment_single.number }} | {{ xpayment_single.id }} -
    {% endfor %}


    <br>
    Add payment here.
    <form method="POST" action="{% url 'add_payment' %}">
    {% csrf_token %}
    <br>enter prefactor number<br>
    <input type="number" name="xpref_no">
    <br>enter payment no.<br>
    <input type="number" name="number">
    <br>enter payment amount<br>
    <input type="number" name="amount">
    <br>Summary<br>
    <textarea name="summary" rows="3" cols="20"></textarea><br>
    <button type="submit" name="submit">Save Payment</button>
    </form>
{% endblock %}