{% load static %}
<!-- Bootstrap -->
<link href="{% static 'request/rtl/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'request/rtl/vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css' %}" rel="stylesheet">
<link href="{% static 'request/rtl/vendors/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- NProgress -->
<link href="{% static 'request/rtl/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="{% static 'request/rtl/build/css/custom.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'request/rtl/build/css/style.css' %}">