{% load humanize %}
{% load request_extras %}
<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-hashtag"></i> تعداد درخواست ها</span>
        <div class="count">{% reqeust_of_type 'all' as req_count %} {{ req_count.count|floatformat|intcomma }}</div>
        <span class="count_top">{{ req_count.sum_kw|floatformat|intcomma }} کیلووات</span>
        <br>
{#        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  نسبت به ماه گذشته</span>#}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> روتین (KW)</span>
        <div class="count">{% reqeust_of_type 'روتین' as projectkw%} {{ projectkw.sum_kw|floatformat|intcomma }}</div>
        <span class="count_top">{{ projectkw.sum_qty|floatformat|intcomma }} دستگاه </span>
        {#        <span class="count_bottom"><i class="green">4% </i>  نسبت به ماه گذشته</span>#}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-calendar"></i> پروژه (KW)</span>
        <div class="count">{% reqeust_of_type 'پروژه' as projectkw%} {{ projectkw.sum_kw|floatformat|intcomma }}</div>
        <span class="count_top">{{ projectkw.sum_qty|floatformat|intcomma }} دستگاه </span>
{#        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i>  نسبت به ماه گذشته</span>#}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-calendar"></i> ضدانفجار (KW)</span>
        <div class="count">{% reqeust_of_type 'ضد انفجار' as projectkw%} {{ projectkw.sum_kw|floatformat|intcomma }}</div>
        <span class="count_top">{{ projectkw.sum_qty|floatformat|intcomma }} دستگاه </span>
{#        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i>  نسبت به ماه گذشته</span>#}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-cogs"></i> تعمیرات (KW)</span>
        <div class="count">{% reqeust_of_type 'تعمیرات' as projectkw%} {{ projectkw.sum_kw|floatformat|intcomma }}</div>
        <span class="count_top">{{ projectkw.sum_qty|floatformat|intcomma }} دستگاه </span>
{#        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  نسبت به ماه گذشته</span>#}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-plus"></i> مجموع (KW)</span>
        <div class="count">{{ req_count.sum_kw|floatformat|intcomma }}</div>
        <span class="count_top">{{ req_count.sum_qty|floatformat|intcomma }} دستگاه </span>
{#        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  نسبت به ماه گذشته</span>#}
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-dollar"></i> مجموع پرداخت</span>
        <div class="count" style="font-size: 25px;">{% total_received as total_amount %}{{ total_amount|floatformat|intcomma }}</div>
        <br>
{#        <span class="count_bottom"><i class="green">4% </i> نسبت به ماه گذشته</span>#}
    </div>
</div>
<!-- /top tiles -->
