{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="row">
            <a class="btn btn-sm btn-success" href="{% url 'test_view2' %}">click here</a>
            <table class="tableFull withBorder">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد</th>
                    <th>جزئیات</th>
                </tr>
                </thead>
                <tbody>
                {% for code in codes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ code.code }}</td>
                        <td>{{ code.details }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

